<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/coolicons/coolicons v2.5 WEBFONT/coolicons.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Налоговый калькулятор</title>
</head>
<body>
    <main>
        <div class="data_for_calculation">
            <div class="img1">
                <img src="img/image1.png" alt="#">
            </div>
            <div class="income">
                <div class="monthly_income">
                    <h2>Доход за месяц</h2>
                    <p>Доход физ лица за 1 месяц, с которого нужно удержать подоходный доход</p>
                    <input v-model="month" type="text" id="monthly_income_form"><label for="monthly_income_form">руб.</label>
                </div>
                <div class="year-to-date_income">
                    <h2>Доход с начала года</h2>
                    <p>Доход физического лица, уже полученный им с начала года до месяца, для которого производится расчет (ДСУММ)</p>
                    <input v-model="year" type="text" id="year-to-date_income_form"><label for="year-to-date_income_form">руб.</label>
                </div>
            </div>
            <div class="additional_information">
                <div class="children">
                    <h2>Количество детей</h2>
                    <p>Количество детей до 18 лет, имеющихся им в иждивении у физического лица (ДЕТИ)</p>
                    <input type="text" v-model="child">
                </div>
                <div class="family_information">
                    <h2>Сведения о семье</h2>
                    <p>Сведения о том, является ли семья физического лица полной</p>
                    <select name="family" v-model="fam">
                        <option value="all">Полная</option>
                        <option value="neall">Неполная</option>
                    </select>
                </div>
            </div>
            <div class="img2">
                <img src="img/image2.png" alt="#">
            </div>
            <div class="buttons_step">
                <button type="button" v-on:click="сalculate_all()">Рассчитать налог <i class="ci-long_right"></i></button>
            </div>
        </div>
        <div class="calculated">
            <div class="img3">
                <img src="img/image3.png" alt="#">
            </div>
            <div class="data_calculated">
                <div class="income_tax">
                    <h2>Подоходный налог</h2>
                    <h1>{{ all }} <label> рублей </label></h1>
                    <p>Три тысячи сто семьдесят четыре рублей и одинадцать копеек</p>
                </div>
                <div class="net_income">
                    <h2>Чистый доход</h2>
                    <h1>46 825,89 <label>рублей</label></h1>
                    <p>Сорок шесть тысяч восемьсот двадцать пять рублей и восемьдесят девять копеек</p>
                </div>
                <div class="button_reload" id="button_reload">
                    <button type="button">Рассчитать заново <i class="ci-refresh"></i></button>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>